* /* good to always set default. control the start first */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", san-serif;
}
section
{
    display: flex;
    justify-content: center;
    width: 100%;
}

section .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .headernav {
    position: absolute;
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: flex-end;
    padding: 20px;
    
}

section header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 14px;
}

section .main .searchBox
{
    position: relative;
    width: 25%;
    margin-top: 20px;
    
}

section .main .searchBox .search
{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid black;
    outline: none;
}

section .main .searchBox .icon
{
    position : absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px 11px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

section .main .buttons
{
    margin-top: 20px;
}

section .main .buttons button 
{
    border-radius: 5px;
    padding: 12px;
    border: none;
}

section .footernav {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    height: 50px;
    background-color: rgb(227, 227, 227);
}

section .footerend {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 30px;
    height: 50px;
    justify-content: flex-end;
}

section footer ul {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    font-size: 14px;

}

#google
{
    padding-top: 300px;
}

#profile
{
    width: 35px;
    height: 35px;
    border-radius: 30px;
}